* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(188, 209, 247); */
    background-color: rgb(163, 216, 223);
}
.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    padding: 3rem;
    border-radius: 0.75rem;

    width: 400px;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
}
.cContainer, .fContainer {
    width: 120px;
}
label {
    padding: 0.5rem;
}
input {
    width: 100%;
    /* width: 100px; */
    height: 30px;
    border: 1px solid black;
    border-radius: 0.25rem;
    outline: none;
    padding: 0.5rem;
}
input:focus {
    /* border-color: rgb(78, 149, 158); */
    border: 1px solid rgb(78, 149, 158);
}