* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    /* font-family: 'Fredoka', sans-serif; */
    /* font-family: 'Mukta', sans-serif; */
    /* font-family: 'Saira', sans-serif; */
    /* font-weight: bold; */
    font-size: 1.25rem;
}
body {
    /* background-color: rgb(188, 209, 247); */
    background-color: rgb(163, 216, 223);
}
.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    /* padding: 3rem; */
    padding: 2.5rem;
    border-radius: 0.75rem;

    /* width: 400px; */
    width: 80vw;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
.cContainer, .fContainer {
    /* width: 120px; */
    width: 35%;
}
label {
    padding: 0.5rem;
    font-weight: bold;
}
input {
    width: 100%;
    /* width: 100px; */
    /* height: 30px; */
    height: 35%;
    border: 1px solid black;
    border-radius: 0.25rem;
    outline: none;
    padding: 0.625rem;
    margin-top: 1rem;
}
input:focus {
    /* border-color: rgb(78, 149, 158); */
    border: 1px solid rgb(78, 149, 158);
}
.convertIcon {
    display: flex;
    align-items: center;
}
/* i {
    color: rgb(78, 149, 158);
} */

/* @media (max-width: 597px) { */
    @media (max-width: 768px) {
    * {
        font-size: 1rem;
    }
}

@media (max-width: 597px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        width: 70vw;
        padding: 2rem;
    }
    .cContainer, .fContainer{
        width: 70%;
        text-align: center;
    }
    label {
        width: 100%;
    }
    input {
        /* margin-top: 0.5rem; */
        margin-top: 0.25rem;
        height: 2.5rem;
    }
    .convertIcon {
        /* padding: 0.5rem; */
        padding: 1rem;
    }
    i {
       transform: rotate(90deg);
    }
}