
.icon-mail:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-picture-1:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-picture-2:before { content: '\e804'; } /* '' */
.icon-camera-1:before { content: '\e805'; } /* '' */
.icon-camera-alt:before { content: '\e806'; } /* '' */
.icon-loop-alt:before { content: '\e807'; } /* '' */
.icon-exchange-1:before { content: '\e808'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
